.Detail {
  align-items: flex-start;
  background: white;
  border-left: 1px solid #eaeaea;
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;
  position: relative;
  overflow-y: auto;
}

.Detail-Avatar {
  border-radius: 5px;
  flex-shrink: 0;
  height: 125px;
  margin: 0 0 12px;
  width: 125px;
}

.Detail-Close {
  color: #777777;
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  height: 1.5rem;
  right: 8px;
  top: 12px;
  width: 1.5rem;
}

.Detail-Label {
  align-items: center;
  border-radius: 100px;
  color: white;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 0.7rem;
  margin: 16px 0 8px -2px;
  padding: 6px 8px;
}
.Detail-Label i {
  font-size: 0.85rem;
  margin-right: 4px;
}
.Detail-Label--Addresses { background: #e98f59; }
.Detail-Label--Emails { background: #8fba55; }
.Detail-Label--Numbers { background: #608ae0; }

.Detail-List {
  list-style: none;
}
.Detail-List li {
  color: #777777;
  display: flex;
  font-size: 0.75rem;
  line-height: 1.4;
  margin-bottom: 4px;
}
.Detail-List li strong {
  color: #333333;
  text-transform: capitalize;
  width: 48px;
}
.Detail-List--Addresses li {
  display: block;
}

.Detail-Name {
  border-bottom: 1px solid #eaeaea;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 16px;
  position: relative;
}
.Detail-Name span {
  color: #bbbbbb;
  display: block;
  font-weight: 300;
  width: 100%;
}

.Row {
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  padding: 12px;
}
.Row:hover, .Row:focus {
  background: #f9f9f9;
}

.Row:last-of-type {
  border-bottom: none;
}

.Row-Avatar {
  border-radius: 50%;
  display: block;
  height: 32px;
  margin-right: 8px;
  width: 32px;
}

.Row-Details {
  list-style: none;
  text-align: right;
  white-space: nowrap;
}
.Row-Details li {
  align-items: center;
  border-radius: 100px;
  color: white;
  display: inline-flex;
  font-size: 0.7rem;
  margin-left: 8px;
  padding: 5px 9px;
  position: relative;
  top: 2px;
}
.Row-Details li:nth-child(1) {
  background: transparent;
  border: 1px solid #eaeaea;
  color: inherit;
  top: 0;
}
.Row-Details li:nth-child(2) { background: #608ae0; }
.Row-Details li:nth-child(3) { background: #8fba55; }
.Row-Details li:nth-child(4) { background: #e98f59; }
.Row-Details li i {
  font-size: 0.85rem;
  margin-right: 4px;
}

.Row-Name {
  flex-grow: 1;
  font-weight: 500;
  margin: 0 8px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Table {
  background: white;
  border: 1px solid #eaeaea;
  height: 100%;
  margin: auto;
  max-height: 475px;
  max-width: 800px;
  overflow: hidden;
  width: 100%;
}

.Table-Header {
  align-items: center;
  background: #f9f9f9;
  border-bottom: 1px solid #eaeaea;
  color: #777777;
  display: flex;
  font-size: 0.85rem;
  height: 40px;
  justify-content: space-between;
  padding: 0 12px;
}

.Table-Header-Details {
  font-size: 0.7rem;
  list-style: none;
  text-align: right;
  white-space: nowrap;
}
.Table-Header-Details li {
  align-items: center;
  display: inline-flex;
  font-size: 0.7rem;
  margin-left: 12px;
  position: relative;
  top: 1px;
}
.Table-Header-Details li:nth-child(1) { color: #608ae0; }
.Table-Header-Details li:nth-child(2) { color: #8fba55; }
.Table-Header-Details li:nth-child(3) { color: #e98f59; }
.Table-Header-Details li i {
  font-size: 0.85rem;
  margin-right: 4px;
}

.Window {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 40px);
}
.Window.is-open .Window-Inner {
  width: calc(100% - 224px);
}
.Window.is-open .Window-Sidebar {
  opacity: 1;
  width: calc(100% - 224px);
}

.Window-Inner {
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  transition: width 300ms ease-out;
  width: 100%;
}

.Window-Sidebar {
  opacity: 0;
  transition: opacity 200ms 100ms ease-out;
  width: 224px;
}

.Wrapper {
  background: #f4f4f4;
  display: flex;
  height: 100vh;
  padding: 24px;
}
